/** @format */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap");

/* Reset Settings */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  width: 100%;
}

ul {
  list-style: none;
}

/* Global Items */
.flex {
  display: flex;
}

.grid {
  display: grid;
}

.bold {
  font-weight: 700;
  color: #353b48;
}

header {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 3px 0px;
}

.container {
  width: 80%;
  margin: 0 auto;
  /* background-color: red; */
}

nav {
  align-items: center;
  justify-content: space-between;
  height: 65px;
}

.logo a img {
  width: 30px;
}

.profile img {
  width: 30px;
  border-radius: 50%;
}

li {
  margin: 0 10px;
  font-size: 14px;
  color: #7f8fa6;
}

.main-heading {
  margin-top: 40px;
}

.main-heading p {
  margin-top: 12px;
  font-size: 14px;
  line-height: 1.7;
  width: 35%;
  color: #718093;
}

.cards {
  margin-top: 30px;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.card {
  height: 250px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-head span {
  text-transform: uppercase;
  font-size: 12px;
}

.food {
  grid-column: 1/3;
  background-color: #85c1e9;
}

.archticture {
  grid-column: 3/4;
  background-color: #ec7063;
  color: #fff;
}

.travel {
  grid-column: 4/5;
  background-color: #f7dc6f;
}

.interior {
  background-color: #af7ac5;
  color: #fff;
}

.sugar {
  background-color: #979a9a;
  color: #fff;
}

.photography {
  grid-column: 3/5;
  background-color: #f39c12;
}

button {
  all: unset;
  background-color: #fff;
  padding: 8px 20px;
  border-radius: 4px;
  bottom: 10px;
  width: max-content;
  color: rgb(39, 39, 39);
  font-weight: 600;
  font-size: 14px;
}

.card-head h3 {
  margin-top: 10px;
}
